body{
    background-color: aquamarine;
}
input{
    height: 80%;
    width: 50%;
    

}
button{
    width : 10%;
    height : 90%;
}
form{

    width: 50%;
    height : 100%;
    display:flex;
    flex-direction:row;
}